Repository probe-rs/probe-rs, pull requests merged in 2020-07, with the labels that each got.

#292 Public types
  probe-rs/src/lib.rs
Labels: enhancement

#145 Implement itm tracing
  cli/src/info.rs
  probe-rs/Cargo.toml
  probe-rs/examples/tcp_itm.rs
  probe-rs/src/architecture/arm/ap/memory_ap/mock.rs
  probe-rs/src/architecture/arm/ap/memory_ap/mod.rs
  probe-rs/src/architecture/arm/ap/mod.rs
  probe-rs/src/architecture/arm/ap/register_generation.rs
  probe-rs/src/architecture/arm/communication_interface.rs
  probe-rs/src/architecture/arm/component/dwt.rs
  probe-rs/src/architecture/arm/component/itm.rs
  probe-rs/src/architecture/arm/component/mod.rs
  probe-rs/src/architecture/arm/component/tpiu.rs
  probe-rs/src/architecture/arm/core/m0.rs
  probe-rs/src/architecture/arm/memory/adi_v5_memory_interface.rs
  probe-rs/src/architecture/arm/memory/mod.rs
  probe-rs/src/architecture/arm/memory/romtable.rs
  probe-rs/src/architecture/arm/mod.rs
  probe-rs/src/architecture/arm/swo/decoder.rs
  probe-rs/src/architecture/arm/swo/mod.rs
  probe-rs/src/architecture/arm/swo/publisher.rs
  probe-rs/src/core/communication_interface.rs
  probe-rs/src/core/mod.rs
  probe-rs/src/error.rs
  probe-rs/src/lib.rs
  probe-rs/src/probe/daplink/mod.rs
  probe-rs/src/probe/jlink/mod.rs
  probe-rs/src/probe/mod.rs
  probe-rs/src/probe/stlink/constants.rs
  probe-rs/src/probe/stlink/memory_interface.rs
  probe-rs/src/probe/stlink/mod.rs
  probe-rs/src/probe/stlink/usb_interface.rs
  probe-rs/src/session.rs
Labels: oxidize

#322 Cleanup flash ProgressEvent
  CHANGELOG.md
  probe-rs/src/flashing/flasher.rs
  probe-rs/src/flashing/progress.rs
Labels: feature:flash-programming

#216 Enable hard reset for STLinks if needbe
  cli/src/common.rs
  cli/src/main.rs
  probe-rs/src/architecture/arm/communication_interface.rs
  probe-rs/src/architecture/arm/core/m0.rs
  probe-rs/src/architecture/arm/core/m33.rs
  probe-rs/src/architecture/arm/core/m4.rs
  probe-rs/src/architecture/arm/core/mod.rs
  probe-rs/src/lib.rs
  probe-rs/src/probe/daplink/commands/swj/mod.rs
  probe-rs/src/probe/daplink/commands/swj/pins.rs
  probe-rs/src/probe/daplink/mod.rs
  probe-rs/src/probe/jlink/mod.rs
  probe-rs/src/probe/mod.rs
  probe-rs/src/probe/stlink/mod.rs
  probe-rs/src/session.rs
Labels: architecture:arm, feature:flash-programming, help wanted, oxidize, protocol:swd
